body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-futura: Futura;
  --font-century-gothic: "Century Gothic";

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: #707070;
  --color-dimgray-200: #676767;
  --color-black: #000;

  /* Border radiuses */
  --br-8xl: 27px;
}
