.pngtreechristmas-snow-6958742-icon {
  position: absolute;
  height: 100%;
  width: calc(100% + 302px);
  top: 0;
  right: -302px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.32;
}
.scroll-group-8 {
  position: absolute;
  top: 194px;
  right: 0;
  width: 467px;
  height: 404px;
  overflow-x: auto;
  mix-blend-mode: normal;
}
.pngtreechristmas-snow-6958742-icon1,
.pngtreechristmas-snow-6958742-icon2 {
  position: absolute;
  top: 194px;
  left: 697px;
  width: 769px;
  height: 404px;
  object-fit: cover;
  opacity: 0.32;
}
.pngtreechristmas-snow-6958742-icon2 {
  left: -72px;
}
.of-fitness-equipment-and-perso-icon {
  position: absolute;
  top: 258px;
  left: 204px;
  border-radius: 86px;
  width: 1513px;
  height: 784px;
  object-fit: cover;
}
.microsoftteams-image-8-remov-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 303px;
  height: 301.96px;
  object-fit: cover;
}
.rebuildcreatine-450x650-icon {
  position: absolute;
  top: 0;
  left: 3.5px;
  width: 296px;
  height: 296px;
  object-fit: cover;
}
.path-92-icon {
  position: absolute;
  top: calc(50% - 169.6px);
  right: 85.44px;
  width: 649px;
  height: 323.5px;
}
.off-top-products {
  position: absolute;
  top: calc(50% - 128.99px);
  right: 118.16px;
  letter-spacing: -1px;
  font-weight: 900;
  opacity: 0.75;
}
.span {
  color: #434040;
}
.christmas-season {
  color: red;
}
.great-offers-for-container {
  position: absolute;
  top: calc(50% - 96.93px);
  left: calc(50% - 57.68px);
  font-size: var(--font-size-21xl);
  vertical-align: sub;
  letter-spacing: -0.8px;
  font-weight: 900;
  opacity: 0.75;
}
.path-91-icon {
  position: absolute;
  top: calc(50% + 132.3px);
  right: 1px;
  width: 0;
  height: 0;
}
.component-34-5-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 35px;
  background-color: var(--color-black);
  border: 5px solid rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
}
.component-34-5 {
  position: absolute;
  top: calc(50% + 3.42px);
  left: calc(50% - 14.61px);
  width: 309px;
  height: 95px;
  cursor: pointer;
}
.buy-now {
  position: absolute;
  top: calc(50% + 20.97px);
  left: calc(50% + 16.56px);
  font-weight: 900;
}
.microsoftteams-image-8-remov-parent {
  position: absolute;
  top: 318.27px;
  left: 270.64px;
  width: 1098.31px;
  height: 671.86px;
  font-size: var(--font-size-31xl);
}
.pattern-png-30769-icon {
  position: absolute;
  top: 2579px;
  left: -475px;
  width: 3348px;
  height: 1488px;
  object-fit: cover;
  opacity: 0.35;
}
.path-13-icon,
.wms-child {
  position: absolute;
  top: 0;
  width: 566px;
  opacity: 0.7;
}
.path-13-icon {
  height: 100%;
  bottom: 0;
  left: 0;
  max-height: 100%;
}
.wms-child {
  height: calc(100% - 1px);
  bottom: 1px;
  left: calc(50% - 285px);
  border-radius: var(--br-47xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.image-12-icon,
.image-13-icon {
  position: absolute;
  border-radius: var(--br-20xl);
  max-height: 100%;
  object-fit: cover;
}
.image-12-icon {
  height: calc(100% - 37px);
  top: 19px;
  bottom: 18px;
  left: 21px;
  width: 524px;
}
.image-13-icon {
  height: calc(100% - 39px);
  top: 20px;
  bottom: 19px;
  left: calc(50% - 263px);
  width: 523px;
}
.wms-item {
  position: absolute;
  height: calc(100% - 1px);
  top: 1px;
  right: 0;
  bottom: 0;
  border-radius: var(--br-47xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 566px;
  opacity: 0.7;
}
.image-15-icon {
  position: absolute;
  height: calc(100% - 38px);
  top: 20px;
  right: 22px;
  bottom: 18px;
  border-radius: var(--br-20xl);
  max-height: 100%;
  width: 521px;
  object-fit: cover;
}
.women {
  top: calc(50% - 52px);
  left: 127px;
  line-height: 112px;
}
.men,
.supplements,
.women {
  position: absolute;
  font-weight: 800;
}
.men {
  top: calc(50% - 52px);
  left: calc(50% - 91px);
  line-height: 112px;
}
.supplements {
  top: calc(50% - 46px);
  right: 37px;
  font-size: 80px;
}
.wms {
  position: absolute;
  top: 1750px;
  left: 37px;
  width: 1808px;
  height: 760px;
  text-align: left;
  font-size: var(--font-size-71xl);
  font-family: var(--font-futura);
}
.start-1-child {
  top: 1676px;
  left: 57px;
  border-top: 2px solid var(--color-white);
  width: 1804px;
  height: 4px;
}
.group-child,
.start-1-child,
.start-1-item {
  position: absolute;
  box-sizing: border-box;
}
.start-1-item {
  top: 3092px;
  left: 57px;
  border-top: 2px solid var(--color-white);
  width: 1804px;
  height: 4px;
}
.group-child {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray-100);
  height: 75px;
}
.gymlion-unleash {
  position: absolute;
  bottom: 25px;
  left: 56px;
  color: var(--color-white);
}
.socials {
  position: absolute;
  top: calc(50% - 97px);
  left: 88px;
  font-size: var(--font-size-26xl);
  line-height: 30px;
}
.icons8-facebook-50,
.icons8-instagram-50,
.icons8-youtube-50 {
  position: absolute;
  top: calc(50% - 26px);
  left: 236px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.icons8-facebook-50,
.icons8-instagram-50 {
  left: 56px;
}
.icons8-facebook-50 {
  left: 176px;
}
.made-in-switzerland {
  position: absolute;
  right: 140px;
  bottom: 25px;
  color: var(--color-white);
}
.kisspng-flag-of-switzerland-na-icon {
  position: absolute;
  right: 48px;
  bottom: 13px;
  width: 75px;
  height: 48px;
  object-fit: cover;
}
.about-us,
.pngwingcom-2-icon {
  position: absolute;
  top: calc(50% - 100px);
  right: 222px;
  cursor: pointer;
}
.pngwingcom-2-icon {
  top: calc(50% - 54px);
  right: 223px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.lion-logo-template-on-transpar-icon {
  position: absolute;
  top: 42px;
  right: 180px;
  width: 38px;
  height: 38px;
  object-fit: cover;
  cursor: pointer;
}
.icons8-twitterx-50 {
  position: absolute;
  top: calc(50% - 26px);
  left: 116px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.help {
  position: absolute;
  top: calc(50% - 46px);
  right: 274px;
  cursor: pointer;
}
.rectangle-parent {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1920px;
  height: 302px;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-bahnschrift);
}
.path-5-icon {
  position: absolute;
  height: calc(100% - 163px);
  width: calc(100% - 294px);
  top: 95px;
  right: 74px;
  bottom: 68px;
  left: 220px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.61;
}
.unleash-your-inner {
  position: absolute;
  top: calc(50% - 42.5px);
  left: calc(50% - 472px);
  font-weight: 800;
}
.simone-pellegrini-l3qg-oblut0-icon {
  position: absolute;
  height: calc(100% - 163px);
  top: 95px;
  right: 0;
  bottom: 68px;
  max-height: 100%;
  width: 711px;
  object-fit: cover;
}
.lion-logo-template-on-transpar-icon1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 637px;
  object-fit: cover;
}
.slogan {
  position: absolute;
  top: 2457px;
  left: -222px;
  width: 2214px;
  height: 637px;
  text-align: left;
  font-size: var(--font-size-71xl);
  font-family: var(--font-futura);
}
.group-item,
.mask-group-2 {
  position: absolute;
  bottom: 0;
  height: 599px;
}
.mask-group-2 {
  left: 0;
  width: 1142px;
  object-fit: cover;
}
.group-item {
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 996px;
}
.ellipse-icon,
.group-inner {
  position: absolute;
  bottom: 0;
  left: calc(50% - 323px);
  border-radius: 50%;
  width: 606px;
  height: 599px;
}
.ellipse-icon {
  left: calc(50% - 303px);
}
.every-click-every {
  margin: 0;
}
.every-click-every-container {
  position: absolute;
  top: calc(50% + 161px);
  right: 73px;
  font-weight: 900;
}
.lets-roar-into {
  position: absolute;
  bottom: 161px;
  left: calc(50% - 256px);
  font-size: var(--font-size-21xl);
  font-weight: 900;
  -webkit-text-stroke: 2px #707070;
}
.mask-group-1 {
  right: 0;
  width: 1142px;
  object-fit: cover;
}
.mask-group-1,
.path-54-icon,
.path-55-icon,
.path-56-icon {
  position: absolute;
  height: calc(100% - 1px);
  top: 1px;
  bottom: 0;
  max-height: 100%;
}
.path-55-icon {
  left: 0;
  width: 960px;
}
.path-54-icon,
.path-56-icon {
  left: calc(50% - 280px);
  width: 606px;
}
.path-54-icon {
  top: 0;
  bottom: 1px;
  left: calc(50% - 303px);
}
.welcome-to-gymlion-container {
  position: absolute;
  top: 43px;
  left: 45px;
  font-weight: 900;
}
.mask-group-1-parent {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 600px;
}
.mask-group-2-parent {
  position: absolute;
  bottom: 471px;
  left: -2px;
  width: 1920px;
  height: 1200px;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-dimgray-200);
}
.component-35-2-child {
  height: 100%;
  top: 0;
  background-color: var(--color-gainsboro);
}
.component-35-2,
.component-35-2-child,
.rectangle-div {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.component-35-2 {
  height: 100%;
  top: 0;
}
.rectangle-div {
  background-color: var(--color-white);
  height: 86px;
}
.component-35-2-parent,
.component-36-2-child {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 419px;
}
.component-36-2-child {
  width: 100%;
  right: 0;
  border-radius: 3px;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.group-child1 {
  position: absolute;
  bottom: 51px;
  left: 0;
  background-color: var(--color-white);
  width: 113px;
  height: 63px;
}
.component-36-2-parent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 22px;
  width: 854px;
}
.component-37-2-wrapper,
.component-38-5-parent {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 419px;
}
.component-38-5-parent {
  left: calc(50% + 19px);
}
.component-37-2-wrapper {
  right: 0;
}
.group-child3 {
  bottom: 0;
  left: calc(50% - 438px);
  width: 419px;
  height: 86px;
}
.group-child3,
.group-child4,
.group-child5 {
  position: absolute;
  background-color: var(--color-white);
}
.group-child4 {
  right: 0;
  bottom: 0;
  width: 419px;
  height: 86px;
}
.group-child5 {
  bottom: 54px;
  left: calc(50% - 412px);
  width: 113px;
  height: 63px;
}
.chf-2000,
.chf-3000 {
  position: absolute;
  top: calc(50% + 121px);
}
.chf-3000 {
  left: 32px;
}
.chf-2000 {
  left: calc(50% - 402px);
}
.group-child6 {
  position: absolute;
  bottom: 54px;
  left: calc(50% + 42px);
  background-color: var(--color-white);
  width: 113px;
  height: 63px;
}
.chf-4000 {
  position: absolute;
  top: calc(50% + 114px);
  left: calc(50% + 52px);
}
.group-child7 {
  position: absolute;
  bottom: 54px;
  left: calc(50% + 500px);
  background-color: var(--color-white);
  width: 113px;
  height: 63px;
}
.chf-3500 {
  position: absolute;
  top: calc(50% + 117px);
  left: calc(50% + 510px);
}
.creatine-powder-unflavoured-1-icon {
  position: absolute;
  top: 40px;
  left: 62px;
  width: 295px;
  height: 295px;
  object-fit: cover;
}
.on-creatine-powder {
  position: absolute;
  bottom: 28px;
  left: 72px;
  font-size: var(--font-size-6xl);
  font-weight: 900;
  font-family: var(--font-lato);
}
.group-parent {
  position: absolute;
  top: 1144px;
  left: 65px;
  width: 1790px;
  height: 462px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-century-gothic);
}
.on-gold-standard-pre-workout-i-icon {
  position: absolute;
  top: 1197px;
  left: 419px;
  width: 626px;
  height: 329px;
  object-fit: cover;
}
.on-pre-workout {
  position: absolute;
  top: 1543px;
  left: 614px;
  font-weight: 900;
  color: var(--color-black);
}
.optimum-nutrition-brand-logo-icon {
  position: absolute;
  top: 1157px;
  left: 380px;
  width: 93px;
  height: 20px;
  object-fit: cover;
}
.optimum-nutrition-brand-logo-icon1,
.optimum-nutrition-brand-logo-icon2 {
  position: absolute;
  top: 1157px;
  left: 830px;
  width: 93px;
  height: 20px;
  object-fit: cover;
}
.optimum-nutrition-brand-logo-icon2 {
  left: 1294px;
}
.optimum-nutrition-brand-logo-icon3 {
  position: absolute;
  top: 1157px;
  right: 83px;
  width: 93px;
  height: 20px;
  object-fit: cover;
}
.on-c101274-image-01-icon {
  position: absolute;
  top: 1119px;
  left: 981px;
  width: 424px;
  height: 424px;
  object-fit: cover;
}
.on-pro-gainer {
  position: absolute;
  top: 1543px;
  left: 1094px;
  font-weight: 900;
  color: var(--color-black);
}
.on-gold-standard-pre-advanced-icon {
  position: absolute;
  top: 1136px;
  right: 75px;
  width: 390px;
  height: 390px;
  object-fit: cover;
}
.on-pre-advanced {
  position: absolute;
  top: 1543px;
  right: 151px;
  font-weight: 900;
  color: var(--color-black);
}
.official-partner {
  position: absolute;
  top: 1089px;
  left: 65px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-century-gothic);
}
.component-63-5-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-20xl);
  background-color: var(--color-gray-200);
}
.component-63-5 {
  position: absolute;
  top: 1769px;
  left: 58px;
  width: 524px;
  height: 723px;
  cursor: pointer;
}
.component-63-6,
.component-63-7 {
  position: absolute;
  top: 1770px;
  cursor: pointer;
}
.component-63-6 {
  left: 678px;
  width: 523px;
  height: 721px;
}
.component-63-7 {
  right: 97px;
  width: 521px;
  height: 722px;
}
.group-child8,
.group-child9 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  opacity: 0.67;
  cursor: pointer;
}
.group-child8 {
  right: 0;
  border-radius: var(--br-xl) 0 0 var(--br-xl);
  width: 53px;
}
.group-child9 {
  left: 0;
  border-radius: 0 var(--br-xl) var(--br-xl) 0;
  width: 57px;
}
.right-arrow-icon,
.right-arrow-icon1 {
  position: absolute;
  top: calc(50% - 24px);
  width: 49px;
  height: 49px;
  object-fit: cover;
  cursor: pointer;
}
.right-arrow-icon {
  right: 2px;
}
.right-arrow-icon1 {
  left: 4px;
}
.rectangle-group {
  position: absolute;
  top: 493px;
  left: 203px;
  width: 1515px;
  height: 314px;
}
.path-93-icon,
.start-1-inner {
  position: absolute;
  top: 959px;
  width: 22px;
  height: 22px;
}
.path-93-icon {
  left: 969px;
  cursor: pointer;
}
.start-1-inner {
  left: 929px;
  border-radius: 50%;
}
.line-div {
  position: absolute;
  top: 652px;
  left: 299px;
  border-top: 2px solid var(--color-white);
  box-sizing: border-box;
  width: 253px;
  height: 4px;
}
.image-removebg-preview-21-tr-icon {
  position: absolute;
  top: 629px;
  left: 1082px;
  width: 215px;
  height: 178px;
  object-fit: cover;
}
.group-icon {
  position: absolute;
  top: 4429px;
  right: 927.46px;
  width: 64.54px;
  height: 35.54px;
  mix-blend-mode: normal;
}
.path-4-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.65;
}
.shop {
  position: absolute;
  top: 4px;
  left: 5px;
  font-weight: 800;
  mix-blend-mode: lighten;
}
.component-10-184 {
  position: absolute;
  top: calc(50% - 33.5px);
  left: calc(50% - 154px);
  width: 114px;
  height: 60px;
  cursor: pointer;
}
.navbar-child {
  position: absolute;
  top: 14px;
  right: 261px;
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 369px;
  height: 87px;
}
.pngtreesearch-icon-4699282 {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  bottom: 20px;
  left: calc(50% + 342px);
  max-height: 100%;
  width: 79px;
  object-fit: cover;
}
.search {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% + 422px);
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-family: var(--font-ocr-a);
  color: var(--color-black);
  opacity: 0.36;
}
.tracker {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
}
.component-11-336 {
  position: absolute;
  top: calc(50% - 30.5px);
  left: calc(50% + 44px);
  width: 178px;
  height: 56px;
  cursor: pointer;
}
.image-removebg-preview-6-icon {
  height: calc(100% - 13px);
  top: 5px;
  bottom: 8px;
  left: 127px;
  width: 345px;
}
.account-icon-25499,
.image-removebg-preview-6-icon,
.shopping-cart-icon {
  position: absolute;
  max-height: 100%;
  object-fit: cover;
}
.account-icon-25499 {
  height: calc(100% - 32px);
  top: 16px;
  right: 142px;
  bottom: 16px;
  width: 87px;
  cursor: pointer;
}
.shopping-cart-icon {
  height: calc(100% - 38px);
  top: 19px;
  right: 55px;
  bottom: 19px;
  width: 81px;
}
.navbar {
  position: absolute;
  top: 75px;
  left: 0;
  width: 1926px;
  height: 119px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-futura);
}
.start-1 {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 4834px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
.path-102-icon {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 1px);
  top: -0.5px;
  right: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.66;
}
.component-153-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  border: 1px solid #6f6f6f;
  box-sizing: border-box;
}
.component-153-1 {
  position: absolute;
  width: calc(100% - 68.63px);
  right: 34.31px;
  bottom: 15px;
  left: 34.31px;
  height: 65px;
  cursor: pointer;
}
.proceed-to-bag {
  position: absolute;
  bottom: 29px;
  left: calc(50% - 128px);
  font-size: var(--font-size-11xl);
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-white);
}
.items-in-your,
.subtotal {
  position: absolute;
  font-size: var(--font-size-xl);
}
.items-in-your {
  top: 17px;
  left: 30px;
  font-weight: 900;
  font-family: var(--font-lato);
}
.subtotal {
  top: calc(50% + 132px);
  left: 34px;
}
.shopping-cart-child {
  position: absolute;
  width: calc(100% + 2.5px);
  top: 49.5px;
  right: -0.5px;
  left: -2px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 4px;
}
.color {
  top: calc(50% - 24px);
  left: calc(50% + 6px);
}
.color,
.quantity,
.size {
  position: absolute;
}
.quantity {
  top: calc(50% + 16px);
  right: 21px;
}
.size {
  top: calc(50% - 4px);
  left: calc(50% + 6px);
}
.blue {
  top: calc(50% - 30px);
  right: -1px;
  font-size: var(--font-size-mini);
  text-transform: uppercase;
  font-weight: 300;
}
.blue,
.chf-3599,
.xl {
  position: absolute;
}
.xl {
  top: calc(50% - 9px);
  left: calc(50% + 32px);
  font-size: var(--font-size-mini);
  text-transform: uppercase;
  font-weight: 300;
}
.chf-3599 {
  right: 16px;
  bottom: 6px;
}
.nike-dri-fit-active {
  position: absolute;
  top: 0;
  left: 23px;
}
.t-shirt-jersey-nike-sleeve-png-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99px;
  height: 89px;
  object-fit: cover;
}
.color-parent {
  position: absolute;
  top: calc(50% - 19px);
  left: 24px;
  width: 154px;
  height: 112px;
}
.shopping-cart-inner,
.shopping-cart-item {
  position: absolute;
  width: calc(100% - 46px);
  top: calc(50% - 40px);
  right: 24px;
  left: 22px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 4px;
}
.shopping-cart-inner {
  width: calc(100% + 5px);
  top: calc(50% + 114px);
  right: 0;
  left: -5px;
}
.chf-10990 {
  position: absolute;
  top: calc(50% + 132px);
  right: 33px;
  font-size: var(--font-size-xl);
}
.microsoftteams-image-8-remov-icon1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 88px;
  height: 88px;
  object-fit: cover;
}
.on-gold-standard {
  position: absolute;
  top: 0;
  left: 19px;
}
.flavour {
  position: absolute;
  top: calc(50% - 26.5px);
  left: calc(50% - 65px);
}
.size1 {
  top: calc(50% - 6.5px);
}
.chf-7395,
.quantity1,
.size1 {
  position: absolute;
  left: calc(50% - 65px);
}
.quantity1 {
  top: calc(50% + 13.5px);
}
.chf-7395 {
  bottom: 12px;
}
.double-rich-choco,
.kg {
  position: absolute;
  font-size: var(--font-size-mini);
  text-transform: uppercase;
  font-weight: 300;
}
.kg {
  top: calc(50% - 11.5px);
  left: calc(50% - 37px);
}
.double-rich-choco {
  top: calc(50% - 30.5px);
  right: -1px;
}
.microsoftteams-image-8-remov-group {
  position: absolute;
  top: 76px;
  left: 30px;
  width: 294px;
  height: 119px;
}
.div {
  position: absolute;
  top: 2px;
  left: calc(50% - 2.5px);
  font-weight: 300;
}
.path-101-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent {
  position: absolute;
  top: calc(50% - 106px);
  left: calc(50% - 33px);
  width: 17px;
  height: 17px;
  text-align: center;
}
.papierkorb-icon,
.papierkorb-icon1 {
  position: absolute;
  top: calc(50% - 82px);
  right: 34px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.papierkorb-icon1 {
  top: calc(50% + 72px);
}
.group {
  position: absolute;
  top: calc(50% + 52px);
  left: calc(50% - 38px);
  width: 17px;
  height: 17px;
  text-align: center;
}
.shopping-cart {
  position: relative;
  background-color: var(--color-white);
  width: 396px;
  height: 508px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-futura);
}


/*
Navigationbar
*/
@font-face {
  font-family: 'Futura';
  src: url('Futura Condensed Extra Bold.otf') format('opentype');
}

body {
margin: 0;
padding: 0;
background-color: black;
}

nav {
background-color: #333;
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}

.nav-links {
display: flex;
list-style: none;
margin: 0;
padding: 0;
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.nav-links a {
text-decoration: none;
color: white;
font-size: 200%;
font-family: futura;
}

.nav-links a:hover {
color: gray;
}

input[type="text"] {
padding: 2%;
width: 90%;
padding-left: 15%;
padding-top: 4%;
padding-bottom: 4%;
font-family: 'OCR A', sans-serif;
}

.search-bar {
margin-left: auto;
position: relative;
margin-right: 2%;
}

.search {
  position: absolute;
  top: 50%;
  right: 87%;
  transform: translate(0, -50%);
  z-index: 1;
  width: 10%;
  opacity: 50%;
}

.account, .cart {
height: 50px;
margin-left: 3%;
margin-right: 1%;
}

.logo {
height: 50px;
}