body {
    background-color: black;
    margin: 0;
    padding: 0;
    position: relative;
}

.Men-Shop {
    width: 100%;
    display: block;
}

.black-bar {
    background-color: black;
    height: 10vw;
    border-color: white;
    border-style: solid;
}

.text-overlay {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-right: 20px;
}
