/*
Navigationbar
*/
@font-face {
  font-family: 'Futura';
  src: url('Futura Condensed Extra Bold.otf') format('opentype');
}

body {
margin: 0;
padding: 0;
background-color: black;
}

nav {
background-color: #333;
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}

.nav-links {
display: flex;
list-style: none;
margin: 0;
padding: 0;
position: absolute;
left: 50%;
transform: translateX(-50%);
}

.nav-links a {
text-decoration: none;
color: white;
font-size: 280%;
font-family: futura;
}

.nav-links a:hover {
color: gray;
}

input[type="text"] {
padding: 2%;
width: 90%;
padding-left: 15%;
padding-top: 4%;
padding-bottom: 4%;
font-family: 'OCR A', sans-serif;
}

.search-bar {
margin-left: auto;
position: relative;
margin-right: 2%;
}

.search {
  position: absolute;
  top: 50%;
  right: 87%;
  transform: translate(0, -50%);
  z-index: 1;
  width: 10%;
  opacity: 50%;
}

.account, .cart {
height: 50px;
margin-left: 3%;
margin-right: 1%;
}

.logo {
height: 50px;
margin-left: 20%;
}


.path-92-icon {
  position: absolute;
  top: calc(50% - 169.6px);
  right: 85.44px;
  width: 649px;
  height: 323.5px;
}
.off-top-products {
  position: absolute;
  top: calc(50% - 128.99px);
  right: 118.16px;
  letter-spacing: -1px;
  font-weight: 900;
  opacity: 0.75;
}
.span {
  color: #434040;
}
.christmas-season {
  color: red;
}
.great-offers-for-container {
  position: absolute;
  top: calc(50% - 96.93px);
  left: calc(50% - 57.68px);
  font-size: var(--font-size-21xl);
  vertical-align: sub;
  letter-spacing: -0.8px;
  font-weight: 900;
  opacity: 0.75;
}