.photo-1593079831268-3381b0db4a-icon {
    position: absolute;
    top: 256px;
    left: 0;
    width: 1920px;
    height: 449.1px;
    object-fit: cover;
}

.pfad-4-icon2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    opacity: 0.65;
}

.shop3 {
    position: absolute;
    top: 4px;
    left: 5px;
    font-weight: 800;
    mix-blend-mode: lighten;
}

.komponente-10-204 {
    position: absolute;
    top: calc(50% - 33.5px);
    left: calc(50% - 154px);
    width: 114px;
    height: 60px;
    cursor: pointer;
}

.rechteck-112 {
    position: absolute;
    top: 14px;
    right: 261px;
    background-color: var(--color-white);
    border: 3px solid var(--color-black);
    box-sizing: border-box;
    width: 369px;
    height: 87px;
}

.pngtreesearch-icon-46992822 {
    position: absolute;
    height: calc(100% - 40px);
    top: 20px;
    bottom: 20px;
    left: calc(50% + 342px);
    max-height: 100%;
    width: 79px;
    object-fit: cover;
}

.search2 {
    position: absolute;
    top: calc(50% - 15.5px);
    left: calc(50% + 422px);
    font-size: var(--font-size-11xl);
    line-height: 20px;
    font-family: var(--font-ocr-a);
    color: var(--color-black);
    opacity: 0.36;
}

.tracker2 {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 800;
}

.komponente-11-356 {
    position: absolute;
    top: calc(50% - 30.5px);
    left: calc(50% + 44px);
    width: 178px;
    height: 56px;
    cursor: pointer;
}

.image-removebg-preview-6-icon2 {
    position: absolute;
    height: calc(100% - 13px);
    top: 5px;
    bottom: 8px;
    left: 127px;
    max-height: 100%;
    width: 345px;
    object-fit: cover;
    cursor: pointer;
}

.account-icon-254992,
.shopping-cart-icon1 {
    position: absolute;
    height: calc(100% - 32px);
    top: 16px;
    right: 142px;
    bottom: 16px;
    max-height: 100%;
    width: 87px;
    object-fit: cover;
}

.shopping-cart-icon1 {
    height: calc(100% - 38px);
    top: 19px;
    right: 55px;
    bottom: 19px;
    width: 81px;
}

.navbar2 {
    position: absolute;
    top: 75px;
    left: 0;
    width: 1926px;
    height: 119px;
    text-align: center;
    font-size: var(--font-size-26xl);
    font-family: var(--font-futura);
}

.workout-planner {
    position: absolute;
    top: 215px;
    left: 62px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
}

.gym-icon,
.gym-icon1 {
    position: absolute;
    top: 205px;
    left: 11px;
    width: 42px;
    height: 42px;
    object-fit: cover;
}

.gym-icon1 {
    top: 663px;
    left: 54px;
    width: 85px;
    height: 85px;
}

.workout-planner2 {
    position: absolute;
    top: 748px;
    left: 54px;
    font-size: var(--font-size-11xl);
    letter-spacing: -0.6px;
    font-weight: 900;
    font-family: var(--font-lato);
}

.linie-66-icon,
.linie-68-icon,
.sun-icon {
    position: absolute;
    top: 840px;
    left: 53px;
    width: 356px;
    height: 3px;
}

.linie-68-icon,
.sun-icon {
    width: 88px;
}

.sun-icon {
    top: 815px;
    left: 56px;
    width: 23px;
    height: 23px;
    object-fit: cover;
}

.today {
    position: absolute;
    top: 814px;
    left: 83px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
}

.linie-69,
.linie-70 {
    position: absolute;
    top: 840px;
    box-sizing: border-box;
    height: 4px;
}

.linie-69 {
    right: 31px;
    border-top: 2px solid var(--color-darkslategray-200);
    width: 1430px;
}

.linie-70 {
    left: 459px;
    border-top: 2px solid var(--color-white);
    width: 182px;
}

.timetable-icon {
    position: absolute;
    top: 815px;
    left: 466px;
    width: 23px;
    height: 23px;
    object-fit: cover;
}

.week-workout {
    position: absolute;
    top: 814px;
    left: 494px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
}

.rechteck-254,
.rechteck-255,
.rechteck-256,
.rechteck-257 {
    position: absolute;
    top: 907px;
    left: 1073px;
    background-color: var(--color-black);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 204px;
    height: 347px;
}

.rechteck-255,
.rechteck-256,
.rechteck-257 {
    left: 869px;
}

.rechteck-256,
.rechteck-257 {
    left: 665px;
}

.rechteck-257 {
    left: 1277px;
}

.rechteck-258 {
    right: 235px;
    background-color: var(--color-darkslategray-300);
}

.rechteck-258,
.rechteck-259,
.rechteck-260 {
    position: absolute;
    top: 907px;
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 204px;
    height: 347px;
}

.rechteck-259 {
    left: 461px;
    background-color: var(--color-black);
}

.rechteck-260 {
    right: 31px;
    background-color: var(--color-darkslategray-300);
}

.div7,
.div8,
.div9 {
    position: absolute;
    top: 914px;
    left: 631px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
}

.div8,
.div9 {
    left: 1448px;
}

.div9 {
    left: 1246px;
}

.div10 {
    left: 1037px;
}

.div10,
.div11,
.div12,
.div13 {
    position: absolute;
    top: 914px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
}

.div11 {
    left: 837px;
}

.div12,
.div13 {
    right: 244px;
}

.div13 {
    right: 39px;
}

.tracker-fitness-plan-3-child {
    position: absolute;
    top: 911px;
    left: 1444px;
    border-radius: 50%;
    width: 32px;
    height: 31px;
    opacity: 0.59;
}

.next-icon {
    position: absolute;
    top: 855px;
    right: 30px;
    width: 33px;
    height: 33px;
    object-fit: cover;
}

.december-2023 {
    position: absolute;
    top: 859px;
    left: 461px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
}

.next-icon1 {
    position: absolute;
    top: 855px;
    right: 128px;
    width: 33px;
    height: 33px;
    object-fit: cover;
}

.mon,
.thurs,
.tue,
.wed,
.week {
    position: absolute;
    font-size: var(--font-size-mini);
    letter-spacing: -0.3px;
}

.week {
    top: 863px;
    right: 74px;
}

.mon,
.thurs,
.tue,
.wed {
    top: 887px;
    left: 547px;
}

.thurs,
.tue,
.wed {
    left: 1158px;
}

.tue,
.wed {
    left: 954px;
}

.tue {
    left: 755px;
}

.sun {
    right: 114px;
}

.fri,
.sat,
.sun {
    position: absolute;
    top: 887px;
    font-size: var(--font-size-mini);
    letter-spacing: -0.3px;
}

.sat {
    right: 325px;
}

.fri {
    left: 1372px;
}

.linie-73,
.linie-74 {
    position: absolute;
    top: 1338px;
    box-sizing: border-box;
    height: 4px;
}

.linie-73 {
    right: 31px;
    border-top: 2px solid var(--color-darkslategray-200);
    width: 1430px;
}

.linie-74 {
    left: 459px;
    border-top: 2px solid var(--color-white);
    width: 279px;
}

.customizer {
    position: absolute;
    top: 1312px;
    left: 494px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
}

.linie-75 {
    position: absolute;
    top: 1290px;
    right: 31px;
    border-top: 2px solid var(--color-darkslategray-200);
    box-sizing: border-box;
    width: 1430px;
    height: 4px;
}

.clipboard-1-icon {
    position: absolute;
    top: 1312px;
    left: 465px;
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.quick-actions {
    position: absolute;
    top: 1087px;
    left: 51px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
}

.rechteck-262 {
    position: absolute;
    top: 958px;
    left: 490px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.back {
    position: absolute;
    top: 920px;
    left: 511px;
    color: var(--color-gray-200);
    text-align: center;
}

.b {
    top: 1007px;
    left: 419px;
    display: inline-block;
    width: 37px;
}

.b,
.b1,
.back1 {
    position: absolute;
    text-align: center;
}

.back1 {
    top: 966px;
    left: 535px;
    text-transform: uppercase;
}

.b1 {
    top: 1168px;
    left: 932px;
    color: var(--color-red);
}

.rechteck-270 {
    position: absolute;
    top: 958px;
    left: 893px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 258px;
}

.legs {
    position: absolute;
    top: 981px;
    left: 943px;
    text-transform: uppercase;
    text-align: center;
}

.rechteck-271 {
    position: absolute;
    top: 958px;
    left: 689px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.chest {
    position: absolute;
    top: 966px;
    left: 732px;
    text-transform: uppercase;
    text-align: center;
}

.rechteck-273 {
    position: absolute;
    top: 958px;
    left: 1097px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 258px;
}

.rest {
    position: absolute;
    top: 981px;
    left: 1149px;
    text-transform: uppercase;
    text-align: center;
}

.rechteck-274 {
    position: absolute;
    top: 1117px;
    left: 689px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.triceps {
    position: absolute;
    top: 1123px;
    left: 722px;
    text-transform: uppercase;
    text-align: center;
}

.rechteck-275 {
    position: absolute;
    top: 1117px;
    left: 488px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.biceps {
    position: absolute;
    top: 1123px;
    left: 527px;
    text-transform: uppercase;
    text-align: center;
}

.rechteck-276 {
    position: absolute;
    top: 958px;
    left: 1301px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.chest1 {
    position: absolute;
    top: 966px;
    left: 1344px;
    text-transform: uppercase;
    text-align: center;
}

.rechteck-277 {
    position: absolute;
    top: 1117px;
    left: 1301px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.back2 {
    position: absolute;
    top: 1123px;
    left: 1346px;
    text-transform: uppercase;
    text-align: center;
}

.rechteck-278 {
    position: absolute;
    top: 958px;
    right: 258px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.arms {
    position: absolute;
    top: 966px;
    right: 301px;
    text-transform: uppercase;
    text-align: center;
}

.rechteck-279 {
    position: absolute;
    top: 1117px;
    right: 258px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.shoulders {
    position: absolute;
    top: 1123px;
    right: 267px;
    text-transform: uppercase;
    text-align: center;
}

.rechteck-280 {
    position: absolute;
    top: 958px;
    right: 54px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 258px;
}

.cardio {
    position: absolute;
    top: 981px;
    right: 83px;
    text-transform: uppercase;
    text-align: center;
}

.back-icon,
.biceps-icon {
    position: absolute;
    top: 997px;
    left: 541px;
    width: 52px;
    height: 52px;
    object-fit: cover;
}

.biceps-icon {
    top: 1158px;
    left: 537px;
}

.body-icon,
.leg-icon,
.triceps-icon {
    position: absolute;
    top: 994px;
    left: 738px;
    width: 59px;
    height: 59px;
    object-fit: cover;
}

.leg-icon,
.triceps-icon {
    top: 1154px;
    left: 740px;
    width: 54px;
    height: 54px;
}

.leg-icon {
    top: 1034px;
    left: 904px;
    width: 133px;
    height: 133px;
}

.back-icon1,
.body-icon1,
.sleep-icon {
    position: absolute;
    top: 1027px;
    left: 1122px;
    width: 107px;
    height: 107px;
    object-fit: cover;
}

.back-icon1,
.body-icon1 {
    top: 994px;
    left: 1350px;
    width: 59px;
    height: 59px;
}

.back-icon1 {
    top: 1155px;
    left: 1353px;
    width: 52px;
    height: 52px;
}

.biceps-icon1,
.cardio-icon,
.shoulders-icon {
    position: absolute;
    top: 1150px;
    right: 309px;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.biceps-icon1,
.cardio-icon {
    top: 1033px;
    right: 60px;
    width: 144px;
    height: 144px;
}

.biceps-icon1 {
    top: 997px;
    right: 311px;
    width: 52px;
    height: 52px;
}

.rechteck-283,
.rechteck-284,
.rechteck-285 {
    position: absolute;
    top: 866px;
    left: 54px;
    border-radius: var(--br-4xs);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 258px;
    height: 41px;
}

.rechteck-284,
.rechteck-285 {
    top: 962px;
}

.rechteck-285 {
    top: 914px;
}

.x-10,
.x-8,
.x-81 {
    position: absolute;
    top: 878px;
    left: 67px;
    font-size: var(--font-size-mini);
    font-weight: 900;
    font-family: var(--font-lato);
    text-align: center;
}

.x-10,
.x-81 {
    top: 974px;
}

.x-10 {
    top: 926px;
    left: 63px;
}

.linie-83,
.linie-84,
.linie-85 {
    position: absolute;
    top: 865.5px;
    left: 111.5px;
    border-right: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 2px;
    height: 41px;
}

.linie-84,
.linie-85 {
    top: 962px;
}

.linie-85 {
    top: 913px;
}

.chest-press {
    position: absolute;
    top: 878px;
    left: 118px;
    font-size: var(--font-size-mini);
    text-transform: uppercase;
    font-weight: 900;
    font-family: var(--font-lato);
    text-align: center;
}

.linie-86,
.rechteck-287 {
    position: absolute;
    top: 1010px;
    box-sizing: border-box;
    height: 41px;
}

.rechteck-287 {
    left: 54px;
    border-radius: var(--br-4xs);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    width: 258px;
}

.linie-86 {
    left: 111.5px;
    border-right: 1px solid var(--color-white);
    width: 2px;
}

.chest-flyes,
.deadlift,
.pull-ups,
.x-15 {
    position: absolute;
    top: 1022px;
    left: 63px;
    font-size: var(--font-size-mini);
    font-weight: 900;
    font-family: var(--font-lato);
    text-align: center;
}

.chest-flyes,
.deadlift,
.pull-ups {
    top: 926px;
    left: 118px;
    text-transform: uppercase;
}

.deadlift,
.pull-ups {
    top: 974px;
    left: 119px;
}

.pull-ups {
    top: 1022px;
}

.body-icon2 {
    position: absolute;
    top: 868px;
    left: 266px;
    width: 37px;
    height: 37px;
    object-fit: cover;
}

.linie-87,
.linie-88,
.linie-89,
.linie-90 {
    position: absolute;
    top: 866px;
    left: 260.5px;
    border-right: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 2px;
    height: 41px;
}

.linie-88,
.linie-89,
.linie-90 {
    top: 1009px;
}

.linie-89,
.linie-90 {
    top: 960.5px;
}

.linie-90 {
    top: 914px;
}

.back-icon2,
.back-icon3,
.body-icon3 {
    position: absolute;
    top: 916px;
    left: 266px;
    width: 37px;
    height: 37px;
    object-fit: cover;
}

.back-icon2,
.back-icon3 {
    top: 970px;
    left: 271px;
    width: 27px;
    height: 27px;
}

.back-icon3 {
    top: 1017px;
}

.linie-91,
.rechteck-288 {
    position: absolute;
    box-sizing: border-box;
}

.linie-91 {
    top: 1062px;
    left: 49px;
    border-top: 2px solid var(--color-darkslategray-200);
    width: 283px;
    height: 4px;
}

.rechteck-288 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-4xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
}

.komponente-188-1 {
    position: absolute;
    top: 1128px;
    left: 51px;
    width: 120px;
    height: 41px;
}

.linie-92-icon,
.pfad-109-icon {
    position: absolute;
    top: 1113px;
    left: 50px;
    width: 356px;
    height: 3px;
}

.pfad-109-icon {
    width: 124.8px;
    height: 2px;
}

.komponente-189-1,
.komponente-190-1,
.komponente-191-1 {
    position: absolute;
    top: 1128px;
    left: 192px;
    width: 120px;
    height: 41px;
}

.komponente-190-1,
.komponente-191-1 {
    top: 1187px;
}

.komponente-190-1 {
    left: 51px;
}

.delete,
.div14 {
    position: absolute;
    top: 1538px;
    left: 607px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
}

.delete {
    top: 1137px;
    left: 61px;
    color: var(--color-black);
}

.body-icon4 {
    top: 1502px;
    left: 1019px;
    width: 59px;
    height: 59px;
    object-fit: cover;
}

.add,
.body-icon4,
.swap-icon {
    position: absolute;
}

.add {
    top: 1137px;
    left: 201px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
    color: var(--color-black);
}

.swap-icon {
    top: 1033px;
    left: 619px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.swap-icon1,
.swap-icon2,
.swap-icon3,
.swap-icon4 {
    position: absolute;
    top: 1190px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.swap-icon1 {
    left: 619px;
    border-radius: var(--br-5xs);
}

.swap-icon2,
.swap-icon3,
.swap-icon4 {
    left: 1431px;
}

.swap-icon3,
.swap-icon4 {
    left: 1226px;
}

.swap-icon4 {
    left: 1022px;
}

.swap-icon5 {
    top: 1190px;
    left: 817px;
}

.swap-icon5,
.swap-icon6,
.swap-icon7 {
    position: absolute;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.swap-icon6 {
    top: 1033px;
    left: 817px;
}

.swap-icon7 {
    top: 1190px;
    right: 63px;
}

.swap-icon8 {
    top: 1030px;
    right: 265px;
}

.swap-icon10,
.swap-icon8,
.swap-icon9 {
    position: absolute;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.swap-icon9 {
    top: 1190px;
    right: 268px;
}

.swap-icon10 {
    top: 1030px;
    left: 1429px;
}

.drag-and-drop {
    position: absolute;
    top: 1344px;
    left: 465px;
    font-size: var(--font-size-3xs);
    letter-spacing: -0.2px;
    font-weight: 700;
    color: #959595;
}

.rechteck-292 {
    position: absolute;
    top: 1376px;
    left: 461px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.biceps1 {
    position: absolute;
    top: 1382px;
    left: 500px;
    text-transform: uppercase;
    text-align: center;
}

.biceps-icon2,
.swap-icon11 {
    position: absolute;
    top: 1417px;
    left: 510px;
    width: 52px;
    height: 52px;
    object-fit: cover;
}

.swap-icon11 {
    top: 1449px;
    left: 592px;
    border-radius: var(--br-5xs);
    width: 20px;
    height: 20px;
}

.rechteck-293 {
    position: absolute;
    top: 1376px;
    left: 642px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.triceps1 {
    position: absolute;
    top: 1382px;
    left: 675px;
    text-transform: uppercase;
    text-align: center;
}

.swap-icon12,
.triceps-icon1 {
    position: absolute;
    top: 1413px;
    left: 693px;
    width: 54px;
    height: 54px;
    object-fit: cover;
}

.swap-icon12 {
    top: 1449px;
    left: 770px;
    width: 20px;
    height: 20px;
}

.rechteck-294 {
    position: absolute;
    top: 1376px;
    left: 820px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.back3 {
    position: absolute;
    top: 1384px;
    left: 865px;
    text-transform: uppercase;
    text-align: center;
}

.back-icon4,
.swap-icon13 {
    position: absolute;
    top: 1415px;
    left: 871px;
    width: 52px;
    height: 52px;
    object-fit: cover;
}

.swap-icon13 {
    top: 1451px;
    left: 949px;
    width: 20px;
    height: 20px;
}

.rechteck-295 {
    position: absolute;
    top: 1376px;
    left: 999px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.chest2 {
    position: absolute;
    top: 1384px;
    left: 1042px;
    text-transform: uppercase;
    text-align: center;
}

.body-icon5,
.swap-icon14 {
    position: absolute;
    top: 1412px;
    left: 1048px;
    width: 59px;
    height: 59px;
    object-fit: cover;
}

.swap-icon14 {
    top: 1451px;
    left: 1127px;
    width: 20px;
    height: 20px;
}

.rechteck-296 {
    position: absolute;
    top: 1376px;
    left: 1177px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.shoulders1 {
    position: absolute;
    top: 1382px;
    left: 1188px;
    text-transform: uppercase;
    text-align: center;
}

.shoulders-icon1,
.swap-icon15 {
    position: absolute;
    top: 1409px;
    left: 1228px;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.swap-icon15 {
    top: 1449px;
    left: 1304px;
    width: 20px;
    height: 20px;
}

.rechteck-297 {
    position: absolute;
    top: 1376px;
    left: 1354px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.arms1 {
    position: absolute;
    top: 1384px;
    left: 1399px;
    text-transform: uppercase;
    text-align: center;
}

.biceps-icon3,
.swap-icon16 {
    position: absolute;
    top: 1415px;
    left: 1406px;
    width: 52px;
    height: 52px;
    object-fit: cover;
}

.swap-icon16 {
    top: 1448px;
    left: 1484px;
    width: 20px;
    height: 20px;
}

.rechteck-298 {
    position: absolute;
    top: 1376px;
    right: 229px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.legs1 {
    position: absolute;
    top: 1382px;
    right: 277px;
    text-transform: uppercase;
    text-align: center;
}

.leg-icon1,
.swap-icon17 {
    position: absolute;
    top: 1449px;
    right: 236px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.leg-icon1 {
    top: 1411px;
    right: 278px;
    width: 58px;
    height: 58px;
}

.rechteck-299 {
    position: absolute;
    top: 1376px;
    right: 49px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.cardio1 {
    position: absolute;
    top: 1382px;
    right: 77px;
    text-transform: uppercase;
    text-align: center;
}

.cardio-icon1,
.swap-icon18 {
    position: absolute;
    top: 1449px;
    right: 56px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.cardio-icon1 {
    top: 1405px;
    right: 91px;
    width: 73px;
    height: 73px;
}

.rechteck-300 {
    position: absolute;
    top: 1489px;
    left: 461px;
    border-radius: var(--br-mid);
    background-color: var(--color-darkslategray-100);
    border: 1px solid var(--color-white);
    box-sizing: border-box;
    width: 157px;
    height: 99px;
}

.rest1 {
    position: absolute;
    top: 1495px;
    left: 514px;
    text-transform: uppercase;
    text-align: center;
}

.sleep-icon1,
.swap-icon19 {
    position: absolute;
    object-fit: cover;
}

.swap-icon19 {
    bottom: 367px;
    left: 591px;
    width: 20px;
    height: 20px;
}

.sleep-icon1 {
    top: 1526px;
    left: 513px;
    width: 54px;
    height: 54px;
}

.rechteck-472 {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-black);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    height: 75px;
}

.gymlion-unleash2 {
    position: absolute;
    bottom: 25px;
    left: 56px;
    color: var(--color-white);
}

.socials2 {
    position: absolute;
    top: calc(50% - 97px);
    left: 88px;
    font-size: var(--font-size-26xl);
    line-height: 30px;
}

.icons8-facebook-502,
.icons8-instagram-502,
.icons8-youtube-502 {
    position: absolute;
    top: calc(50% - 26px);
    left: 236px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.icons8-facebook-502,
.icons8-instagram-502 {
    left: 56px;
}

.icons8-facebook-502 {
    left: 176px;
}

.made-in-switzerland2 {
    position: absolute;
    right: 140px;
    bottom: 25px;
    color: var(--color-white);
}

.kisspng-flag-of-switzerland-na-icon2 {
    position: absolute;
    right: 48px;
    bottom: 13px;
    width: 75px;
    height: 48px;
    object-fit: cover;
}

.about-us2,
.pngwingcom-2-icon2 {
    position: absolute;
    top: calc(50% - 100px);
    right: 222px;
    cursor: pointer;
}

.pngwingcom-2-icon2 {
    top: calc(50% - 54px);
    right: 223px;
    width: 33px;
    height: 33px;
    object-fit: cover;
}

.lion-logo-template-on-transpar-icon3 {
    position: absolute;
    top: 42px;
    right: 180px;
    width: 38px;
    height: 38px;
    object-fit: cover;
    cursor: pointer;
}

.icons8-twitterx-502 {
    position: absolute;
    top: calc(50% - 26px);
    left: 116px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.help2 {
    position: absolute;
    top: calc(50% - 46px);
    right: 274px;
    cursor: pointer;
}

.gruppe-105 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    border: 1px solid var(--color-dimgray-100);
    box-sizing: border-box;
    width: 1920px;
    height: 302px;
    color: var(--color-black);
    font-family: var(--font-bahnschrift);
}

.add-icon,
.papierkorb-icon2 {
    position: absolute;
    top: 1135px;
    left: 137px;
    width: 28px;
    height: 28px;
    object-fit: cover;
}

.add-icon {
    top: 1137px;
    left: 281px;
    width: 26px;
    height: 26px;
}

.reset,
.update {
    position: absolute;
    top: 1196px;
    left: 61px;
    font-size: var(--font-size-xl);
    letter-spacing: -0.4px;
    font-weight: 900;
    font-family: var(--font-lato);
    color: var(--color-black);
}

.update {
    left: 201px;
}

.circle-of-two-clockwise-arrows-icon,
.undo-icon {
    position: absolute;
    top: 1198px;
    left: 284px;
    width: 21px;
    height: 21px;
    object-fit: cover;
}

.undo-icon {
    top: 1196px;
    left: 138px;
    width: 25px;
    height: 25px;
}

.rechteck-308 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-white);
}

.komponente-186-1 {
    position: absolute;
    top: 1264px;
    left: 51px;
    width: 261px;
    height: 109px;
    cursor: pointer;
}

.food-tracker1 {
    position: absolute;
    top: 1304px;
    left: 86px;
    font-weight: 900;
    font-family: var(--font-lato);
    color: var(--color-black);
}

.view-your {
    top: 1273px;
    left: 139px;
    font-size: var(--font-size-mini);
    text-transform: uppercase;
    color: var(--color-dimgray-200);
}

.b2,
.linie-111,
.view-your {
    position: absolute;
}

.linie-111 {
    top: 1248px;
    left: 49px;
    border-top: 2px solid var(--color-darkslategray-200);
    box-sizing: border-box;
    width: 263px;
    height: 4px;
}

.b2 {
    right: 151px;
    bottom: 211px;
    font-size: 100px;
    color: var(--color-dimgray-200);
}

.tracker-fitness-plan-3 {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 1949px;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--font-century-gothic);
}