.komponente-70-3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lioness {
  position: absolute;
  top: 13px;
  right: 17px;
}
.gruppe-103,
.komponente-82-1 {
  position: absolute;
  width: 546px;
  height: 574px;
}
.gruppe-103 {
  top: 1352px;
  left: 92px;
  font-size: var(--font-size-xl);
  color: var(--color-lightgray);
}
.komponente-82-1 {
  top: 3320px;
  left: 1287px;
}
.shutterstock-734769526-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1075px;
  object-fit: cover;
}
.rechteck-157 {
  position: absolute;
  top: -10px;
  left: 0;
  width: 961px;
  height: 1077px;
}
.rechteck-158 {
  position: absolute;
  top: 486px;
  right: 0;
  width: 960px;
  height: 581px;
}
.white-arrow-png-transparent-20-icon {
  position: absolute;
  top: 901.84px;
  right: 182.7px;
  border-radius: 77px;
  width: 154.6px;
  height: 154.6px;
  object-fit: cover;
}
.rechteck-159 {
  position: absolute;
  top: 499px;
  left: 0;
  width: 960px;
  height: 581px;
}
.sort-by {
  position: absolute;
  top: 1107px;
  left: 1454px;
}
.pfad-37-icon,
.pfad-39-icon {
  position: absolute;
  top: 1258px;
  left: -7px;
  width: 1927px;
  height: 1.53px;
}
.pfad-39-icon {
  top: 1067px;
  left: 0;
}
.category {
  position: absolute;
  top: 1108px;
  left: 223px;
}
.komponente-72-1 {
  position: absolute;
  top: 1351px;
  right: 83px;
  width: 554.77px;
  height: 574px;
}
.komponente-215-1 {
  position: absolute;
  top: 1352px;
  left: 687px;
  width: 546px;
  height: 574px;
  cursor: pointer;
}
.chf-4039,
.chf-40391 {
  position: absolute;
  top: 1574px;
  font-size: var(--font-size-21xl);
  text-decoration: line-through;
  vertical-align: super;
  color: var(--color-gray-100);
}
.chf-4039 {
  right: 187px;
}
.chf-40391 {
  left: 988px;
}
.nike-zoom-bella {
  position: absolute;
  top: 1858px;
  left: 225px;
}
.nike-gym-club {
  top: 1858px;
  left: 811px;
}
.back,
.linie-27,
.nike-gym-club {
  position: absolute;
}
.linie-27 {
  height: calc(100% + 0.5px);
  top: -1px;
  bottom: 0.5px;
  left: calc(50% - 110.5px);
  border-right: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 2px;
}
.back {
  top: calc(50% - 18.25px);
  left: 37px;
}
.linie-28,
.linie-29 {
  position: absolute;
  top: -0.5px;
  bottom: 0;
}
.linie-28 {
  height: calc(100% + 0.5px);
  left: calc(50% - 32.5px);
  border-right: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 2px;
}
.linie-29 {
  left: calc(50% + 45.5px);
}
.linie-29,
.linie-30,
.linie-31 {
  height: calc(100% + 0.5px);
  border-right: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 2px;
}
.linie-30 {
  position: absolute;
  top: -1px;
  bottom: 0.5px;
  left: calc(50% + 123.5px);
}
.linie-31 {
  top: -0.5px;
  right: 81.5px;
  bottom: 0;
}
.b,
.b1,
.linie-31 {
  position: absolute;
}
.b {
  top: calc(50% - 18.25px);
  left: calc(50% - 78px);
}
.b1 {
  left: calc(50% - 0px);
}
.b1,
.b2,
.b3 {
  top: calc(50% - 18.25px);
}
.b2 {
  position: absolute;
  left: calc(50% + 77px);
}
.b3 {
  left: calc(50% + 155px);
}
.b3,
.b4,
.gruppe-66 {
  position: absolute;
}
.b4 {
  top: calc(50% - 18.25px);
  right: 25px;
}
.gruppe-66 {
  bottom: 406.5px;
  left: 675px;
  border-radius: 25px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 570px;
  height: 78.5px;
  color: var(--color-black);
}
.chf-11599,
.chf-3099,
.chf-3599 {
  position: absolute;
  top: 1603px;
  font-size: var(--font-size-21xl);
}
.chf-3599 {
  right: 110px;
}
.chf-11599,
.chf-3099 {
  left: 991px;
}
.chf-11599 {
  left: 385px;
}
.lioness1 {
  position: absolute;
  top: 455px;
  left: 1215px;
  font-size: 100px;
  font-weight: 900;
  font-family: var(--font-lato);
}
.legacy,
.this-collection-writes {
  position: absolute;
  left: 148px;
  text-align: left;
}
.legacy {
  top: 712px;
  font-size: 70px;
}
.this-collection-writes {
  top: 801px;
  font-size: var(--font-size-21xl);
}
.komponente-75-1 {
  position: absolute;
  top: 2008px;
  right: 87px;
  width: 546px;
  height: 574px;
}
.chf-2019,
.nike-cushioned-ankled {
  position: absolute;
  top: 2514px;
  right: 100px;
}
.chf-2019 {
  top: 2259px;
  right: 138px;
  font-size: var(--font-size-21xl);
}
.komponente-74-1 {
  position: absolute;
  top: 2008px;
  left: 687px;
  width: 546px;
  height: 574px;
}
.balenzia-women-lowcut,
.chf-35991 {
  position: absolute;
  top: 2514px;
  left: 711px;
}
.chf-35991 {
  top: 2259px;
  left: 991px;
  font-size: var(--font-size-21xl);
}
.komponente-73-1 {
  position: absolute;
  top: 2008px;
  left: 92px;
  width: 546px;
  height: 574px;
}
.chf-12099,
.nike-metcon-9 {
  position: absolute;
  top: 2514px;
  left: 211px;
}
.chf-12099 {
  top: 2259px;
  left: 385px;
  font-size: var(--font-size-21xl);
}
.komponente-78-1 {
  position: absolute;
  top: 2664px;
  right: 87px;
  width: 546px;
  height: 574px;
}
.chf-1932,
.ua-run-trail {
  position: absolute;
  top: 3170px;
  right: 238px;
}
.chf-1932 {
  top: 2915px;
  right: 138px;
  font-size: var(--font-size-21xl);
}
.komponente-77-1 {
  position: absolute;
  top: 2664px;
  left: 687px;
  width: 546px;
  height: 574px;
}
.chf-3523,
.nike-dri-fit-trail {
  position: absolute;
  top: 3170px;
  left: 809px;
}
.chf-3523 {
  top: 2915px;
  left: 991px;
  font-size: var(--font-size-21xl);
}
.komponente-76-1 {
  position: absolute;
  top: 2664px;
  left: 96px;
  width: 546px;
  height: 574px;
}
.chf-2099,
.smartshake-dc-comics {
  position: absolute;
  top: 3170px;
  left: 179px;
}
.chf-2099 {
  top: 2915px;
  left: 400px;
  font-size: var(--font-size-21xl);
}
.chf-1473,
.on-sports-bra {
  position: absolute;
  top: 1858px;
  right: 243px;
}
.chf-1473 {
  top: 3571px;
  right: 138px;
  font-size: var(--font-size-21xl);
}
.komponente-80-1 {
  position: absolute;
  bottom: 624px;
  left: 687px;
  width: 546px;
  height: 574px;
}
.yellow-fitness-top {
  position: absolute;
  bottom: 655px;
  left: 816px;
}
.chf-2983 {
  position: absolute;
  top: 3571px;
  left: 991px;
  font-size: var(--font-size-21xl);
}
.komponente-79-1 {
  position: absolute;
  bottom: 624px;
  left: 92px;
  width: 546px;
  height: 574px;
}
.blue-sweatbands-2x {
  position: absolute;
  bottom: 655px;
  left: 210px;
}
.chf-1492 {
  position: absolute;
  top: 3571px;
  left: 396px;
  font-size: var(--font-size-21xl);
}
.removalai-603c04db-5be9-446c-icon {
  position: absolute;
  top: 3460px;
  left: 1287px;
  width: 335px;
  height: 335px;
  object-fit: cover;
}
.removalai-3bc0d432-c13d-461a-icon {
  position: absolute;
  top: 2144px;
  left: 694px;
  width: 315px;
  height: 315px;
  object-fit: cover;
}
.a48405f1-4c37-423a-8e5e-6cc974-icon {
  position: absolute;
  top: 1444px;
  left: 99px;
  width: 424px;
  height: 424px;
  object-fit: cover;
}
.d4e47db-f4bd-4abd-941c-2459358-icon,
.gym-club-duffel-bag-7b6rdj-icon {
  position: absolute;
  top: 2077px;
  left: 92px;
  width: 436px;
  height: 436px;
  object-fit: cover;
}
.gym-club-duffel-bag-7b6rdj-icon {
  top: 1517px;
  left: 711px;
  width: 317px;
  height: 317px;
}
.removalai-3fb92a61-9092-4267-icon {
  position: absolute;
  top: 2743px;
  left: 76px;
  width: 384px;
  height: 384px;
  object-fit: cover;
}
.removalai-9f6e6599-2934-426a-icon {
  position: absolute;
  top: 3526px;
  left: 126px;
  width: 255px;
  height: 189px;
  object-fit: cover;
}
.removalai-ba1484f4-48ce-4910-icon {
  position: absolute;
  top: 3368px;
  left: 673px;
  width: 366px;
  height: 456px;
  object-fit: cover;
}
.png-transparent-sports-bra-top-icon {
  position: absolute;
  top: 1501px;
  left: 1271px;
  width: 346px;
  height: 349px;
  object-fit: cover;
}
.cushioned-ankle-socks-q0fcs1-r-icon {
  position: absolute;
  top: 2129px;
  left: 1306px;
  width: 277px;
  height: 346px;
  object-fit: cover;
}
.image-removebg-preview-27-icon {
  position: absolute;
  top: 2063.2px;
  right: 139px;
  width: 108.63px;
  height: 105.8px;
  object-fit: cover;
}
.rechteck-47 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  height: 75px;
}
.gymlion-unleash {
  position: absolute;
  bottom: 25px;
  left: 56px;
  color: var(--color-white);
}
.socials {
  position: absolute;
  top: calc(50% - 97px);
  left: 88px;
  font-size: var(--font-size-26xl);
  line-height: 30px;
}
.icons8-facebook-50,
.icons8-instagram-50,
.icons8-youtube-50 {
  position: absolute;
  top: calc(50% - 26px);
  left: 236px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.icons8-facebook-50,
.icons8-instagram-50 {
  left: 56px;
}
.icons8-facebook-50 {
  left: 176px;
}
.made-in-switzerland {
  position: absolute;
  right: 140px;
  bottom: 25px;
  color: var(--color-white);
}
.kisspng-flag-of-switzerland-na-icon {
  position: absolute;
  right: 48px;
  bottom: 13px;
  width: 75px;
  height: 48px;
  object-fit: cover;
}
.about-us,
.pngwingcom-2-icon {
  position: absolute;
  top: calc(50% - 100px);
  right: 222px;
  cursor: pointer;
}
.pngwingcom-2-icon {
  top: calc(50% - 54px);
  right: 223px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.lion-logo-template-on-transpar-icon {
  position: absolute;
  top: 42px;
  right: 180px;
  width: 38px;
  height: 38px;
  object-fit: cover;
  cursor: pointer;
}
.icons8-twitterx-50 {
  position: absolute;
  top: calc(50% - 26px);
  left: 116px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.gruppe-3,
.help {
  position: absolute;
}
.help {
  top: calc(50% - 46px);
  right: 274px;
  cursor: pointer;
}
.gruppe-3 {
  bottom: -9px;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1920px;
  height: 302px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-bahnschrift);
}
.lion-shop,
.rechteck-214 {
  position: absolute;
  cursor: pointer;
}
.rechteck-214 {
  top: 962px;
  left: 19px;
  border-radius: 19px;
  background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(0) brightness(150%);
  width: 304px;
  height: 83px;
}
.lion-shop {
  top: 979px;
  left: 67px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.removebg-preview-icon {
  position: absolute;
  top: 2763px;
  left: 680px;
  width: 353px;
  height: 353px;
  object-fit: cover;
}
.c11bac0172-4670-01-packshot-be-icon {
  position: absolute;
  top: 2738px;
  left: 1307px;
  width: 284px;
  height: 426px;
  object-fit: cover;
}
.chf-15000 {
  position: absolute;
  top: 1579px;
  left: 385px;
  font-size: var(--font-size-21xl);
  text-decoration: line-through;
  vertical-align: super;
  color: var(--color-gray-100);
}
.lioness2 {
  top: 1365px;
  left: 1147px;
}
.lioness2,
.lioness3,
.lioness4,
.lioness5,
.lioness6,
.lioness7,
.lioness8 {
  position: absolute;
  font-size: var(--font-size-xl);
  color: var(--color-lightgray);
}
.lioness3 {
  top: 1365px;
  right: 109px;
}
.lioness4,
.lioness5,
.lioness6,
.lioness7,
.lioness8 {
  top: 2021px;
}
.lioness4 {
  right: 104px;
}
.lioness5,
.lioness6,
.lioness7,
.lioness8 {
  left: 556px;
}
.lioness6,
.lioness7,
.lioness8 {
  left: 1147px;
}
.lioness7,
.lioness8 {
  top: 2677px;
}
.lioness8 {
  top: 3345px;
  left: 556px;
}
.lioness9 {
  top: 2677px;
  left: 556px;
}
.lioness10,
.lioness11,
.lioness12,
.lioness9 {
  position: absolute;
  font-size: var(--font-size-xl);
  color: var(--color-lightgray);
}
.lioness10 {
  top: 2677px;
  right: 104px;
}
.lioness11,
.lioness12 {
  top: 3345px;
}
.lioness11 {
  left: 1147px;
}
.lioness12 {
  right: 104px;
}
.gym-shorts,
.rechteck-243 {
  position: absolute;
  right: 262px;
  bottom: 655px;
}
.rechteck-243 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xl);
  border: 4px solid var(--color-gray-200);
  box-sizing: border-box;
}
.all {
  position: absolute;
  top: calc(50% - 18px);
  left: 20px;
}
.pngwingcom-icon {
  position: absolute;
  height: calc(100% - 7px);
  top: 4px;
  right: 9px;
  bottom: 3px;
  max-height: 100%;
  width: 55px;
  object-fit: cover;
}
.komponente-150-1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.komponente-151-3 {
  position: absolute;
  top: 1157px;
  left: 223px;
  width: 362px;
  height: 62px;
}
.komponente-151-4,
.pfad-4-icon {
  position: absolute;
  top: 1155px;
  right: 104px;
  width: 362px;
  height: 62px;
}
.pfad-4-icon {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.65;
}
.shop {
  position: absolute;
  top: 4px;
  left: 5px;
  font-weight: 800;
  mix-blend-mode: lighten;
}
.komponente-10-196 {
  position: absolute;
  top: calc(50% - 33.5px);
  left: calc(50% - 154px);
  width: 114px;
  height: 60px;
  cursor: pointer;
}
.rechteck-11 {
  position: absolute;
  top: 14px;
  right: 261px;
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 369px;
  height: 87px;
}
.pngtreesearch-icon-4699282 {
  position: absolute;
  height: calc(100% - 40px);
  top: 20px;
  bottom: 20px;
  left: calc(50% + 342px);
  max-height: 100%;
  width: 79px;
  object-fit: cover;
}
.search {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% + 422px);
  font-size: var(--font-size-11xl);
  line-height: 20px;
  font-family: var(--font-ocr-a);
  color: var(--color-black);
  opacity: 0.36;
}
.tracker {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 800;
}
.komponente-11-348 {
  position: absolute;
  top: calc(50% - 30.5px);
  left: calc(50% + 44px);
  width: 178px;
  height: 56px;
  cursor: pointer;
}
.image-removebg-preview-6-icon {
  height: calc(100% - 13px);
  top: 5px;
  bottom: 8px;
  left: 127px;
  width: 345px;
  cursor: pointer;
}
.account-icon-25499,
.image-removebg-preview-6-icon,
.shopping-cart-icon {
  position: absolute;
  max-height: 100%;
  object-fit: cover;
}
.account-icon-25499 {
  height: calc(100% - 32px);
  top: 16px;
  right: 142px;
  bottom: 16px;
  width: 87px;
  cursor: pointer;
}
.shopping-cart-icon {
  height: calc(100% - 38px);
  top: 19px;
  right: 55px;
  bottom: 19px;
  width: 81px;
}
.navbar {
  position: absolute;
  top: 75px;
  left: 0;
  width: 1926px;
  height: 119px;
  font-size: var(--font-size-26xl);
  font-family: var(--font-futura);
}
.shop-lioness {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 4518px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-century-gothic);
}
.pfad-102-icon {
  position: absolute;
  height: calc(100% + 1px);
  width: calc(100% + 1px);
  top: -0.5px;
  right: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.66;
}
.rechteck-239 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  border: 1px solid #6f6f6f;
  box-sizing: border-box;
}
.komponente-153-1 {
  position: absolute;
  width: calc(100% - 68.63px);
  right: 34.31px;
  bottom: 15px;
  left: 34.31px;
  height: 65px;
  cursor: pointer;
}
.proceed-to-bag {
  position: absolute;
  bottom: 29px;
  left: calc(50% - 128px);
  font-size: var(--font-size-11xl);
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--color-white);
}
.items-in-your,
.subtotal {
  position: absolute;
  font-size: var(--font-size-xl);
}
.items-in-your {
  top: 17px;
  left: 30px;
  font-weight: 900;
  font-family: var(--font-lato);
}
.subtotal {
  top: calc(50% + 132px);
  left: 34px;
}
.linie-60 {
  position: absolute;
  width: calc(100% + 2.5px);
  top: 49.5px;
  right: -0.5px;
  left: -2px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 4px;
}
.color {
  top: calc(50% - 23.5px);
  left: calc(50% + 10px);
}
.color,
.quantity,
.size {
  position: absolute;
}
.quantity {
  top: calc(50% + 16.5px);
  right: 13px;
}
.size {
  top: calc(50% - 3.5px);
  left: calc(50% + 10px);
}
.blue {
  top: calc(50% - 28.5px);
  right: 7px;
  font-size: var(--font-size-mini);
  text-transform: uppercase;
  font-weight: 300;
}
.blue,
.chf-35992,
.xl {
  position: absolute;
}
.xl {
  top: calc(50% - 7.5px);
  left: calc(50% + 36px);
  font-size: var(--font-size-mini);
  text-transform: uppercase;
  font-weight: 300;
}
.chf-35992 {
  right: 8px;
  bottom: 6px;
}
.nike-dri-fit-active {
  position: absolute;
  top: 0;
  right: -1px;
}
.t-shirt-jersey-nike-sleeve-png-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99px;
  height: 89px;
  object-fit: cover;
}
.gruppe-108 {
  position: absolute;
  top: calc(50% - 18px);
  left: 24px;
  width: 146px;
  height: 111px;
}
.linie-61,
.linie-62 {
  position: absolute;
  width: calc(100% - 46px);
  top: calc(50% - 40px);
  right: 24px;
  left: 22px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
  height: 4px;
}
.linie-62 {
  width: calc(100% + 5px);
  top: calc(50% + 114px);
  right: 0;
  left: -5px;
}
.chf-10990 {
  position: absolute;
  top: calc(50% + 132px);
  right: 33px;
  font-size: var(--font-size-xl);
}
.microsoftteams-image-8-remov-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 88px;
  height: 88px;
  object-fit: cover;
}
.on-gold-standard {
  position: absolute;
  top: 0;
  left: 19px;
}
.flavour {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 26px);
}
.size1 {
  top: calc(50% - 6px);
}
.chf-7395,
.quantity1,
.size1 {
  position: absolute;
  left: calc(50% - 26px);
}
.quantity1 {
  top: calc(50% + 14px);
}
.chf-7395 {
  bottom: 12px;
}
.double-rich-choco,
.kg {
  position: absolute;
  font-size: var(--font-size-mini);
  text-transform: uppercase;
  font-weight: 300;
}
.kg {
  top: calc(50% - 10px);
  left: calc(50% + 2px);
}
.double-rich-choco {
  top: calc(50% - 29px);
  right: -1px;
}
.gruppe-107 {
  position: absolute;
  top: calc(50% - 177px);
  left: 30px;
  width: 216px;
  height: 118px;
}
.div {
  position: absolute;
  bottom: 2px;
  left: calc(50% - 1.5px);
  font-weight: 300;
}
.pfad-101-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gruppe-109 {
  position: absolute;
  top: calc(50% - 106px);
  left: calc(50% - 33px);
  width: 17px;
  height: 17px;
  text-align: center;
}
.papierkorb-icon,
.papierkorb-icon1 {
  position: absolute;
  top: calc(50% - 82px);
  right: 34px;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.papierkorb-icon1 {
  top: calc(50% + 72px);
}
.gruppe-110 {
  position: absolute;
  top: calc(50% + 52px);
  left: calc(50% - 38px);
  width: 17px;
  height: 17px;
  text-align: center;
}
.shopping-cart {
  position: relative;
  background-color: var(--color-white);
  width: 396px;
  height: 508px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-futura);
}
